.fund-img{
    width: 100%;
    margin: 10px auto;
}
.fund-item{
    width: 100%;
    height: auto;
    margin: 10px auto;
}
.CONTENT{
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
}